In [3]:
import final_project

someApartment = final_project.Apartment()
#someApartment is self (reference to instaniated item)

In [4]:
someApartment.merged_data

,Apartment Name,Apartment Number,Location,Floor Plan,Rooms available,Pool,Gym,Parking,Electronic Key Locks,Study Rooms,Game Lounge
0,Terrapin Row,1100.0,Close to South UMD campus,"1 bedroom, 1 bath",0;not available,1,1,1,1,1,1
1,Terrapin Row,1101.0,Close to South UMD campus,"2 bedroom, 2 bath","2;1001a,1001b",1,1,1,1,1,1
2,Terrapin Row,1102.0,Close to South UMD campus,"3 bedroom ,3 bath","3;1002a,1002b,1002c",1,1,1,1,1,1
3,Terrapin Row,1103.0,Close to South UMD campus,"4 bedroom , 4 bath",0;not available,1,1,1,1,1,1
4,Terrapin Row,1104.0,Close to South UMD campus,"1 bedroom, 1 bath",0;not available,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
241,The Varsity,903.0,Close to North UMD campus,"1 bedroom, 1 bath",0;not available,0,1,1,0,1,0
242,The Varsity,904.0,Close to North UMD campus,"4 bedroom , 4 bath","2;904b, 904c",0,1,1,0,1,0
243,The Varsity,905.0,Close to North UMD campus,"1 bedroom, 1 bath",0;not available,0,1,1,0,1,0
244,The Varsity,906.0,Close to North UMD campus,"1 bedroom, 1 bath",0;not available,0,1,1,0,1,0
245,The Varsity,907.0,Close to North UMD campus,"3 bedroom, 3 bath","3;907a,907b,907c",0,1,1,0,1,0

In [6]:
someApartment.apartment_names

array(['Terrapin Row', 'University View', 'The Varsity'], dtype=object)

In [7]:
someApartment.userInput
#Reference without ()'s

In [8]:
someApartment.userInput()
#Call has ()'s

Please answer the following questions for us to help provide you with your ideal apartment

Please enter your full name: Philip Samuel
Which part of UMD campus would be ideal for you. Type North or South:  North
Are you looking for a pool? Type 0 for no pool or 1 for pool: 0

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [ ]:
#Each person breaks the long lines and pushing.

In [9]:
df = someApartment.apartments_df.copy()

In [10]:
df.head()

,Apartment Name,Apartment Number,Location,Floor Plan,Rooms available
0,Terrapin Row,1100.0,Close to South UMD campus,"1 bedroom, 1 bath",0;not available
1,Terrapin Row,1101.0,Close to South UMD campus,"2 bedroom, 2 bath","2;1001a,1001b"
2,Terrapin Row,1102.0,Close to South UMD campus,"3 bedroom ,3 bath","3;1002a,1002b,1002c"
3,Terrapin Row,1103.0,Close to South UMD campus,"4 bedroom , 4 bath",0;not available
4,Terrapin Row,1104.0,Close to South UMD campus,"1 bedroom, 1 bath",0;not available

In [11]:
import re

In [13]:
a = "1 bedroom, 1 bath"
int(re.search(r"([1-4])\sbedroom",a)[1])

1

In [12]:
#New column in dataframe
df["Bedroom"] = df["Floor Plan"].apply(lambda a:int(re.search(r"([1-4])\sbedroom",a)[1]))
df.head()

TypeError: expected string or bytes-like object, got 'float'